*.zip

!output/
output/*.tsv

!code/business_entity_resolution/data/
code/business_entity_resolution/data/*
!code/business_entity_resolution/data/scoreboard/
code/business_entity_resolution/data/scoreboard/*
!code/business_entity_resolution/data/scoreboard/lgbm_v2.txt
!code/business_entity_resolution/data/scoreboard/lgbm_v5.txt
!code/business_entity_resolution/data/scoreboard/lgbm_v7r.txt
!code/business_entity_resolution/data/scoreboard/indic_words.jsonl
!code/business_entity_resolution/data/scoreboard/indic_xlit_cache.jsonl
code/business_entity_resolution/output/
